body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f0f0f8;
    color: #333;
}

h1 {
    color: #bb01be;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.comic-link {
    text-align: center;
    margin-bottom: 30px;
}

.comic-link h2 {
    display: inline-block;
    margin-right: 10px;
    color: #2baf3a;
}

.enlace {
    font-size: x-large;
    color: #33d546;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

.enlace:hover {
    color: #25af35;
    text-decoration: underline;
}

/* Contenedor base de personajes */
.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #7555c8;
    border-radius: 12px;
}

/* Estilos base para cada tarjeta */
.card {
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Transición para cuando la tarjeta se mueva al pasar el cursor */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* EFECTO HOVER EN LA TARJETA (BRINQUITO) */
.card:hover {
    /* Mueve la tarjeta 5 pixeles hacia arriba al pasar el ratón */
    transform: translateY(-5px);
    /* Incrementa la sombra */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Ajustes generales para todas las imágenes */
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    /* Transición al cambiar de imagen */
    transition: content 0.3s ease;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

.card li {
    padding: 4px 0;
    font-size: 16px;
}



/* -------------------------------------------------------------
   COLORES Y CAMBIO DE IMÁGENES AL PASAR EL CURSOR (:hover)
   ------------------------------------------------------------- */

/* SASAKI */
.sasaki {
    background-color: #fce8e8;
}
.sasaki h2 {
    font-family:'Times New Roman', Times, serif;
    color: #ce1818;
}

/* Cambia la imagen al pasar el cursor sobre su tarjeta */
.sasaki:hover .img-sasaki {
    content: url('/imagenes/sasaki2.png');
}

/* AKIRA */
.akira {
    background-color: #e8eafc;
}
.akira h2 {
    font-family:'Times New Roman', Times, serif;
    color: #2814da;
}

.akira:hover .img-akira {
    content: url('/imagenes/akira2.png');
}

/* AYAME */
.ayame {
    background-color: #fbe8fc;
}
.ayame h2 {
    font-family:'Times New Roman', Times, serif;
    color: #d817dc;
}

.ayame:hover .img-ayame {
    content: url('/imagenes/ayame2.png');
}